.box{
   /* background-image: linear-gradient(to bottom right, rgb(251, 255, 0), rgb(0, 238, 255)); */
   border-radius: 1rem;
   margin-top: 3rem !important;
   padding: 2rem !important;
   margin-right: 1rem !important;
  /*  box-shadow: 4px 4px 8px rgb(36, 36, 36); */
   background-color: rgba(0, 59, 59, 0.247);
}
input{
   border-radius: 13px !important;
   padding: 5px;
   border: none;
   display: block;
}
