 body{

    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;

 }

 .Navbar{

    background-image: linear-gradient(to left ,lightpink, rgb(141, 141, 160));
    height:5vw;
    font-size:2vw;
    display: flex;
     justify-content: flex-start;
     align-items: center;
     gap:1vw;
     padding-left: 1vw;
    

 }

 /* nav a.active{
     text-decoration: none;
     font-weight:bold;
     
 } */